@use "./reset";
@use "../tokens";

body {
  color: tokens.$color-black;
  font-family: tokens.$font-family-body;
  font-size: tokens.$font-size-2s;
  line-height: tokens.$line-height-sm;
}

a {
  color: tokens.$color-green-40;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .theme-dark & {
    color: tokens.$color-green-80;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
