$font-family-title: "Lato", sans-serif;
$font-family-body: "Lora", serif;

$font-size-3l: 42px;
$font-size-2l: 28px;
$font-size-lg: 22px;
$font-size-md: 20px;
$font-size-sm: 18px;
$font-size-2s: 16px;
$font-size-3s: 14px;

$line-height-lg: 1.75;
$line-height-md: 1.5;
$line-height-sm: 1.25;

$letter-spacing-normal: normal;
$letter-spacing-lg: 1px;

$font-weight-normal: 400;
$font-weight-bold: 600;

$color-white: #ffffff;
$color-gray-90: #e3e3e3;
$color-gray-80: #dddddd;
$color-gray-60: #bbbbbb;
$color-gray-50: #999999;
$color-gray-40: #808080;
$color-gray-20: #444444;
$color-black: #242424;
$color-pink: #f87289;
$color-red: #d70202;
$color-green-80: #ccf3c6;
$color-green-60: #a3e399;
$color-green-40: #208441;
$color-green-20: #124a24;
$color-blue-95: #e9f2f9;
$color-blue-90: #e9f0f0;
$color-blue-20: #01324b;
$color-blue-15: #041633;

$spacing-4l: 64px;
$spacing-3l: 48px;
$spacing-2l: 32px;
$spacing-lg: 24px;
$spacing-md: 16px;
$spacing-sm: 12px;
$spacing-2s: 8px;
$spacing-3s: 4px;
$spacing-4s: 2px;
